extends html

snippet cl console.log()
	console.log($0)

snippet crrc "Create React Component"
	import React from 'react';

	export const $1 = () => {
			return (
					<div className="$1">
							<h1>$1</h1>
					</div>
			)
	}

snippet hrr "hr separator"
	<hr />
